@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;

}
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
/* https://images.pexels.com/photos/319798/pexels-photo-319798.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260 */
/* https://images.pexels.com/photos/3049057/pexels-photo-3049057.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
header{
  margin: .5rem auto;
  width: 95%; 
  background-image: url("https://images.pexels.com/photos/319798/pexels-photo-319798.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom; 
   border-radius: 5px;;
   height: 20rem;  
   text-align: left; 
  }

header h1 {
  position: relative;
  top: .5rem;
  left: 1rem;
  color:black;
  font-size: 5rem;
}

nav {
  display: flex;
  justify-content: center;
 
}

ul {
  list-style-type: none;
  
}

nav li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5rem;
}

a, a:visited, a:active {
  text-decoration: none;
  color: inherit;
  transition: 200ms;
  transition-property: all;
}

.contacts a {
  font-size: 2rem;
  text-decoration: none;
}
a:hover {
  
  text-decoration: underline;
  
}


footer {
  display: flex;
  margin: 3rem 0 1rem 0;
  justify-content: space-around;
  
}

#display-recipe {  
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  padding: .5rem;
  min-height: 600px;
  transition: all 300ms;
  
}
#choose-recipe-space-saver img {
  padding-top: 1rem;
  margin: 2rem auto;
  width: 80%;
  filter: grayscale(100%);
  opacity: .3;
  

  

}

h2 {
  font-size: 5rem;
  margin: 2rem auto ;
}

.recipe-card {
   border: 2px solid black;
   border-radius: 5px;
   background-color: rgb(245, 240, 240) ;
   padding: 10px;
   margin: 10px;
  display: flex;
  flex-direction: column;
  transition: 300ms;
  width: 250px;
  height: 300px;
  overflow-y: hidden;
  cursor: pointer;
}
.recipe-card img { 
  width: 200px;
   margin: 0 auto;
}
.recipe-card h3 {
   font-size: 1.5rem;
   margin: 1rem 0;
}
.recipe-card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.open-recipe-card {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 80%;
  height: fit-content;
  overflow-x: hidden;
  cursor: default;
  
}
.open-recipe-card img {
  width: 400px;
}
.open-recipe-card h3 {
  font-size: 2.5rem
}


.open-recipe-card:hover{
  transform: scale(1);
  -webkit-transform: scale(1);
  
}
.close-recipe-x {
  transform: translateX(45%);
  font-size: 1.5rem;
  transition: 1s;
}
.close-recipe-x:hover{
  transform: translateX(45%) rotate(90deg);
  -webkit-transform: translateX(45%) rotate(90deg);
  cursor: pointer;
}

/* 
#recipe-btn-container{
   display: flex;
   justify-content: space-evenly;
   transition: 300ms;
}

#recipe-btn-container button {
  border: 3px solid black;
  background-color: rgb(245, 240, 240);
  width: 175px;
  height: 50px;
  font-size: 1.5rem;
  transition: 300ms;
  margin: 0 1rem;
}

#recipe-btn-container button:hover {
  background-color: black;
   color: white;
} */

.ingredient-list li {
 margin: .5rem auto;
}

.shopping-cart-icon {
  margin: 0 .5rem;
  cursor: pointer;
}

.main-shopping-cart{
  position: relative;
  margin: .5rem .5rem;
 border: 0px solid black;
 cursor: pointer;
 height: 25px;
  transition: 700ms;
  min-width: 150px;
  padding: 6px;
  
 
}

.main-shopping-cart-open { 

  background-color: black ;
  color: white;
  
  
 
}

#shopping-cart-ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  border-bottom: 1px solid black;
  border-left: 1px solid black; 
  border-right: 1px solid black;
  min-width: 150px;
  transition: 500ms;
  color: black;
  height: 250px;
  overflow-y: scroll;
}

.main-shopping-cart li {
  display: block;
  font-size: 1rem;
  margin: .2rem 0;
}

.main-shopping-cart:hover {
  
}

#search-bar-input{
  width: 80%;
  padding: 5px;
}

#search-button{
  width: 100px;
  height: 29px;
  margin: 0 5px;
  font-family: 'Lato', sans-serif;
}